/* ---------------------------------------------------------------- GENERAL RULES --------------------------------------------------------------- */
html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    color: #4c5858;
    padding: 0;
    margin: 0;
}

p {
    font-size: 14px;

}

a {
    color: #a8dadc;
    text-decoration: none;
}

.scrollup {
    right: -300px;
}

/* ------- BG COLOR ------- */
.bg-primary {
    background-color: #fcfcfc !important;
}


.bg-secondary {
    background-color: #1d3557 !important;
}

@media (max-width: 992px) {

    .bg-vertical-line,
    .bg-x-line-1,
    .bg-x-line-2,.bg-x-line-3 {
        width:  0px!important;
        height: 0px!important;
        margin: 0px 0px!important;
        left: 0!important;
        right: 0!important;
    }

}

.bg-x-line-1 {
    width: 50px;
    height: 1px;
    background: #1d35573f;
    z-index: -2;
    position: absolute;
    right: 51%;
    margin-top: 6rem;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 50%);


}

.bg-x-line-2 {
    width: 50px;
    height: 1px;
    background: #1d35573f;
    z-index: -2;
    position: absolute;
    left: 49%;
    margin-top: 8.5rem;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 50%);

}

.bg-x-line-3 {

    width: 2%;
    height: 1px;
    background: #1d35573f;
    z-index: -2;
    position: absolute;
    margin-top: 0rem;
    margin: 0 48%;

}

.bg-vertical-line {
    width: 1px;
    height: 300%;
    background: #1d35573f;
    z-index: -2;
    position: absolute;
    left: 49%;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 50%);

}

/* ------- TEXT COLOR ------- */
.text-primary {
    color: #fcfcfc !important;
}

.text-secondary {
    color: #1d3557 !important;
}



/* ---- BUTTON --- */
.btn {
    font-size: 1rem;
}


/* ---- LES TITRES ---- */
h1 {
    font-family: 'Bebas Neue', cursive;
    color: rgb(245, 245, 245);
    font-size: 10vw;
}


h2 {
    color: #1d3557;
    font-weight: lighter;
    font-size: 14px;
}

h3 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #a8dadc;

}

h4 {
    font-family: 'Noto Sans JP', sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 13px;
}

h5 {
    font-family: 'Noto Sans JP', sans-serif;

    text-transform: capitalize;
    color: black;
    margin-bottom: 1rem;
}

h6 {
    color: #87a7a8;
    font-weight: 200;
}

.separateur {
    width: 20%;
    height: 5px;
    background: #1d3557;
    position: relative;

}

/* ---------------------------------------------------------------------- BY SECTION ---------------------------------------------------------------------- */


/* ----------------------------------- HEADER ----------------------------------- */
header {
    min-height: 100vh;
    padding-top: 20vh;
    box-shadow: inset 0px 0px 15px 0.5px rgba(0, 0, 0, 0.171);
    background-image: radial-gradient(rgba(255, 255, 255, 0.267), rgba(75, 0, 0, 0.137)), linear-gradient(#fffeee5b, #1d3557c9), url(../img/photo-tete.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* -------------------------------- NAVBAR  -----------------------------------*/

.brand {
    color: #1d3557;
    font-size: 2.3rem;
}

.navbar-collapse {
    flex-grow: 0.1 !important;
    align-items: center;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0rem !important;
}

#navPart a {
    color: #6d7e97 !important;
    text-transform: uppercase;
    font-weight: 300;
}

#navPart a:hover {
    color: #a8dadc !important;
    text-transform: uppercase;
    font-weight: 300;
}


.active span {
    color: #1d3557;
    font-weight: 500;

}

.resumebtn {
    background-color: #a8dadc18;
    border-radius: 5px;
    padding: 2rem;
}


/* ---------------------------- PRESENTATION---------------------------- */

#presentationcarousel {
    min-height: auto;
    padding-top: 5%;
    background: white;
    padding-bottom: 30px;
}

.pQuote {
    font-size: 13px !important;
    font-weight: 200;
    text-align: justify;
}

.text-success {
    color: #1d3557 !important;
}

.blockquote-footer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: .6em;
    color: #6c757d;
}



.textcv {
    opacity: 0.8;
    background-color: #1d3557;
    color: white;
    font-size: 14px;
}

.textcv:hover {
    height: 100%;
    opacity: 1;
    transition: .5s ease;
    opacity: 0.6;
    text-align: center;
    transition: .5s ease;
    background: #a8dadc;
}




/* --------------------------------- FORMATION ---------------------------- */

#formation {
    min-height: auto;
    /* max-height: 90vh; */
    margin-top: 2rem;
}

#formation .row {
    min-height: auto;
}

#formation .separateur {
    left: 80%;

}

.img-dc {
    height: auto;
    width: 100px;
}

.part-right-dc h5 {
    font-size: 16px;
}




/* --------------------------------- SKILLS---------------------------- */
#skills {
    min-height: auto;
    margin-top: 5rem;
}

#skills p {
    font-size: small;
}

#skills .fa:hover {
    background-color: #1d3557;
}

.fa-html5 {
    color: #DD4B25;
}

.fa-css3-alt {

    color: #264EDF;
}

.fa-js {
    color: #EFD81D;
}

.fa-php {
    color: #777BB3;
}

.fa-wordpress {
    color: #0075A9;
}

#skills .fa-github {
    color: #1f1f1f;
}

.img-skills {
    height: 48.8px;
}

/* ---------------------------- REALISATIONS ---------------------------- */

#realisation {
    min-height: auto;
    padding-top: 30px;
    background-color: white;
}

#realisation .card-body {
    position: absolute;
    top: 2.5%;
    bottom: 0;
    right: 0;
    left: 2.5%;
    height: 95%;
    width: 95%;
    background-color: #1d3557;
    color: #fcfcfc !important;
    align-items: center;
    display: grid;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

#realisation .card-body:hover {
    opacity: 1;
}

#realisation h4 {
    font-weight: 900;
    letter-spacing: 7px;
}

.text-muted {
    color: #fcfcfc !important;

}

.btn-outline-secondary {
    color: #fcfcfc !important;
}

.btn-outline-secondary:hover {
    color: #fff !important;
    background-color: #a8dadc;
    border-color: #a8dadc;
}

.btn-outline-secondary:focus {

    box-shadow: none;
}

.btn-outline-secondary:active {
    color: #fff;
    background-color: #a8dadc;
    border-color: #a8dadc;
}

/* ---------------------------- CONTACT ---------------------------- */

#contact {
    min-height: 100vh;
}

#contact h3 {
    letter-spacing: 1rem;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    font-size: 7vw;
}

.form-control {
    border-radius: 0.1rem !important;
    font-size: 12px;
}

.form-control::placeholder {
    color: #dbdbdb;
    font-style: italic;
}

label {
    font-size: 13px;
}

#contact .btn {
    margin-left: 40%;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}

#contact .btn:hover {
    opacity: 50%;
}