/* ---------------------------------------------------------------- GENERAL RULES --------------------------------------------------------------- */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    color: #4c5858;
}

p {
    font-size: 14px;

}

a {
    color: #a8dadc;
}

.scrollup {
    right: -300px;
}

/* ------- BG COLOR ------- */
.bg-primary {
    background-color: #fcfcfc !important;
}


.bg-secondary {
    background-color: #1d3557 !important;
}

/* ------- TEXT COLOR ------- */
.text-primary {
    color: #fcfcfc !important;
}

.text-secondary {
    color: #1d3557 !important;
}



/* ---- BUTTON --- */
.btn {
    font-size: 1rem;
}


/* ---- LES TITRES ---- */
h1 {
    font-family: 'Bebas Neue', cursive;
    color: rgb(245, 245, 245);
    font-size: 10vw;
}


h2 {
    color: #1d3557;
    font-weight: lighter;
    font-size: 14px;
}

h3 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #a8dadc;

}

h4 {
    font-family: 'Noto Sans JP', sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 13px;
}

h5 {
    font-family: 'Noto Sans JP', sans-serif;
    
    text-transform: capitalize;
    color: black;
    margin-bottom: 1rem;
}

h6 {
    color: #87a7a8;
    font-weight: 200;
}

.separateur {
    width: 20%;
    height: 5px;
    background: #1d3557;
    position: relative;

}

/* ---------------------------------------------------------------------- BY SECTION ---------------------------------------------------------------------- */


/* ----------------------------------- HEADER ----------------------------------- */
header {
    min-height: 100vh;
    padding-top: 20vh;
    box-shadow: inset 0px 0px 15px 0.5px rgba(0, 0, 0, 0.171);
    background-image: radial-gradient(rgba(255, 255, 255, 0.267), rgba(75, 0, 0, 0.137)), linear-gradient(#fffeee5b, #1d3557c9), url(../img/photo-tete.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* -------------------------------- NAVBAR  -----------------------------------*/

.brand {
    color: #1d3557;
    font-size: 2.3rem;
}

.navbar-collapse {
    flex-grow: 0.1 !important;
    align-items: center;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0rem !important;
}

#navPart a {
    color: #6d7e97 !important;
    text-transform: uppercase;
    font-weight: 300;
}

#navPart a:hover {
    color: #a8dadc !important;
    text-transform: uppercase;
    font-weight: 300;
}


.active span {
    color: #1d3557;
    font-weight: 500;

}

.resumebtn {
    background-color: #a8dadc18;
    border-radius: 5px;
    padding: 2rem;
}


/* ---------------------------- PRESENTATION---------------------------- */

#presentationcarousel {
    min-height: auto;
    padding-top: 5%;
}

.carousel-indicators li {
    border: none;
    background: #ccc;
}

.carousel-indicators li.active {
    background: #28a745;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    color: #1d3557 !important;
}

.carousel-control-next {

    justify-content: flex-end;

}

.carousel-control-prev {

    justify-content: flex-start;

}

.carousel-indicators [data-bs-target] {
    background-color: #1d3557 !important;
}


.pQuote {
    font-size: 13px !important;
    font-weight: 200;
    text-align: justify;
}

.text-success {
    color: #1d3557 !important;
}

.boxImgCv {
    height: 150px;
    width: 100%;
    border-radius: 10px;
    background-image: url(../img/cv-miniature.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: .5s ease;

}

.blockquote-footer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: .6em;
    color: #6c757d;
}

.cvPart:hover .boxImgCv {
    opacity: 0.2;
}

.cvPart:hover .middle {
    opacity: 1;
}

.textcv {
    background-color: #a8dadc;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/* --------------------------------- FORMATION ---------------------------- */

#formation {
    min-height: 33vh;
    max-height: 90vh;
    margin-top: 2rem;
}

#formation .row {
    min-height: auto;
}
#formation .separateur {
    left: 80%;

}

.img-dc

{
    height: auto;
    width: 100px;
}
.part-right-dc h5 {
    font-size: 16px;
}




/* --------------------------------- SKILLS---------------------------- */
#skills {
    height: 80vh;
    margin-top: 3rem;

}

.imgskills {
    height: 100%;
    background-image: url(../img/pexels-photo-4073705.jpeg);

}

/* ---------------------------- REALISATIONS ---------------------------- */

#realisation {
    min-height: auto;
}
#realisation .card-body {
    position: absolute;
    top: 2.5%; bottom: 0; right: 0; left: 2.5%;
    height: 95%; width: 95%;
    background-color: #1d3557;
    color: #fcfcfc!important;
    align-items: center;
    display: grid;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

#realisation .card-body:hover {
    opacity: 1;
}

#realisation h4 {
    font-weight: 900;
    letter-spacing: 7px;
}
 
.text-muted {
    color: #fcfcfc!important;

}
.btn-outline-secondary {
    color: #fcfcfc!important;
}

.btn-outline-secondary:hover {
    color: #fff!important;
    background-color: #a8dadc;
    border-color: #a8dadc;
}

.btn-outline-secondary:focus {

    box-shadow: none;
}

.btn-outline-secondary:active {
    color: #fff;
    background-color: #a8dadc;
    border-color: #a8dadc;
}

/* ---------------------------- CONTACT ---------------------------- */

#contact {
    min-height: 100vh;
}

#contact h3 {
    letter-spacing: 1rem;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    font-size: 7vw;
}

.form-control {
    border-radius: 0.1rem !important;
    font-size: 12px;
}

.form-control::placeholder {
    color: #dbdbdb;
    font-style: italic;
}

label {
    font-size: 13px;
}

#contact .btn {
    margin-left: 40%;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}

#contact .btn:hover {
    opacity: 50%;
}